#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
body{
    background: linear-gradient(#06b04f 0%, #f2eb0f 100%);
}
img:hover{
    border-radius: 140px;
    
}
img{
    
    border: 5px solid #33323b;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 5);
    
}
.copy_right_footer{
  background-color: aliceblue;
  bottom: 0;
  width: 100%;
  text-align: center;  
}



